@import '../main.scss';

#editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'input output';
    margin: auto;
    width: 80vw;
    height: 80vh;
    border-radius: 8px;
    border: 1px solid $grey;
    > * {
        padding: 8pt;
    }
}

textarea.input {
    flex-grow: 1;
    grid-area: input;
    background-color: $lightgrey;
    color: $black;
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;
}

#output {
    grid-area: output;
    background-color: $white;
    border-radius: 0 8px 8px 0;
    color: $black;
    max-width: 40vw;
    padding: 0 24pt 0 24pt;

    blockquote {
        padding: 8pt;
        width: calc(100% - 16pt);
        margin: 4pt 0 4pt 0;
    }

    code {
        padding: 0 2pt 0 2pt;
        background-color: $lightgrey;
        border: 1px solid $grey;
        border-radius: 8px;
    }

    blockquote {
        border-left: 2px solid $grey;
        background-color: $lightgrey;
        color: $blackvar;
    }

    > * {
        margin-top: 6pt;
    }

    a {
        color: $primary;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-size: 24pt;
        margin-top: 12pt;
    }

    h1,
    h2 {
        width: 100%;
        padding-bottom: 4pt;
        border-bottom: 1px solid $grey;
    }

    pre code {
        display: block;
        width: calc(100% - 16pt);
        padding: 8pt;
    }
}

#filename {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 6pt 6pt 10vw;
    padding: 8pt;
    font-size: 20pt;
    font-weight: 600;
    border: 1px solid transparent;
}

#filename:focus,
#filename:hover {
    border-radius: 8px;
    border-color: $grey;
    background-color: $white;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: $darkgrey;
    opacity: 1;
}
