@import '../main.scss';
@import '../sass/colors.scss';

.navbar {
    ul {
        list-style-type: none;
        margin-bottom: 10pt;
        padding: 10pt 10vw 0 10vw;
        height: 32pt;
        border-bottom: 1px var(--border) solid;
        background-color: var(--bg-variant);
    }

    li {
        display: inline;
        margin-right: 10pt;
    }

    a,
    a:visited {
        color: var(--fg);
        text-decoration: none;
        line-height: 25pt;
        padding: 8pt;
        text-align: center;
        border-radius: 6px;
        transition: 0.3s;
        font-weight: 400;
        font-size: 11pt;
    }

    a:hover {
        color: var(--primary);
    }

    #login-btn {
        display: block;
        background-color: var(--primary);
        float: right;
        border-radius: 8px;
        padding: 0.5pt;
        > a {
            font-size: 10pt;
            color: var(--primary-contrast);
            line-height: 20pt;
        }
        border: 1.5px transparent solid;
    }

    #login-btn:hover {
        background-color: var(--primary-contrast);
        border-color: var(--primary);
        > a {
            color: var(--primary);
        }
    }

    button#toggle-theme {
        font-size: 18pt;
        float: right;
        text-align: center;
        padding: 0.5pt;
        margin-right: 10pt;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
    }
}

main {
    margin: auto;
    width: 80vw;
}
