@import '../sass/colors.scss';

#sign-in-wrapper {
    display: grid;
    height: calc(100vh - 42pt);
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 42pt;
    width: inherit;
}

#form {
    display: block;
    grid-column: 1 1;
    padding-bottom: 0;
    padding-top: 35vh;
    padding-left: 25%;

    > * {
        margin-bottom: 12pt;
    }

    button {
        background-color: var(--bg-lighter);
        color: var(--fg-lighter);
        height: 30pt;
        width: 100%;
    }

    button:hover {
        background-color: var(--primary);
        color: var(--primary-contrast);
        cursor: pointer;
    }

    p {
        color: var(--grey);
    }

    .shrink {
        max-width: 300px;
    }

    .horizontal-line {
        text-align: center;
        overflow: hidden;
        font-size: 11pt;
        color: var(--fg);
    }

    .horizontal-line::before,
    .horizontal-line::after {
        background-color: var(--border);
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    .horizontal-line::before {
        right: 0.5em;
        margin-left: -50%;
    }

    .horizontal-line::after {
        left: 0.5em;
        margin-right: -50%;
    }
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 2;
}
