:root {
    --fg: #1e1e24;
    --fg-variant: #414542;
    --fg-lighter: #292931;
    --bg: #fcfcfc;
    --bg-variant: #ffffff;
    --bg-lighter: #f3f2f2;
    --grey: #7a7a7a;
    --border: #e7eeec;
    --primary: #efced6;
    --primary-variant: #e6a7ac;
    --secondary: #ceefe7;
    --secondary-variant: #a8d3c8;
    --gradient: #ffffff;
    --shadow: rgba(149, 157, 165, 0.1);
    --primary-contrast: #1e1e24;
}

.dark {
    --fg: #ffffff;
    --fg-variant: #f3f7f6;
    --fg-lighter: #dbe0df;
    --bg: #1c1c1c;
    --bg-variant: #1b1b1b;
    --bg-lighter: #242424;
    --grey: #919191;
    --border: #292929;
    --gradient: #ffffff;
    --shadow: #00000000;
}
