@import '../main.scss';
@import '../sass/colors.scss';

#editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'input output';
    margin: auto;
    width: 80vw;
    height: 80vh;
    border-radius: 8px;
    > * {
        padding: 8pt;
    }
}

textarea#input {
    flex-grow: 1;
    grid-area: input;
    background-color: var(--bg-variant);
    color: var(--fg);
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;
    border: solid var(--border);
    border-width: 1px 0.5px 1px 1px;
}

#output {
    grid-area: output;
    background-color: var(--bg-variant);
    border-radius: 0 8px 8px 0;
    color: var(--fg);
    max-width: 40vw;
    padding: 12pt 24pt 12pt 24pt;
    border: solid var(--border);
    border-width: 1px 1px 1px 0.5px;

    blockquote {
        padding: 8pt;
        width: calc(100% - 16pt);
        margin: 4pt 0 4pt 0;
    }

    code {
        padding: 0 2pt 0 2pt;
        background-color: var(--border);
        border: 1px solid var(--bg-variant);
        border-radius: 8px;
    }

    blockquote {
        border-left: 2px solid var(--border);
        background-color: var(--bg-variant);
        color: var(--fg-variant);
    }

    > * {
        margin-top: 6pt;
    }

    a,
    a:visited {
        color: var(--primary);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-size: 24pt;
        margin-top: 12pt;
    }

    h1,
    h2 {
        width: 100%;
        padding-bottom: 4pt;
        border-bottom: 1px solid var(--border);
    }

    pre code {
        display: block;
        width: calc(100% - 16pt);
        padding: 8pt;
    }
}

#filename {
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 10pt;
    padding: 8pt;
    font-size: 20pt;
    font-weight: 600;
    border: 1px solid transparent;
    color: var(--fg);
}

#filename:focus,
#filename:hover {
    border-radius: 8px;
    border-color: var(--border);
    background-color: var(--bg-variant);
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--fg-variant);
    opacity: 1;
}
